@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Light.ttf") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Black.ttf") format("woff2");
  font-weight: 900;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Roboto", sans-serif;
}

body {
  background: #eee;
  padding: 0 16px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  background-color: #f5ba13;
  color: #fff;
  margin: auto -16px;
  padding: 16px 35px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.addNote {
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  margin: 16px;
  padding: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 300px;
  height: 200px;
}

.addNote input {
  margin: 10px 0;
  border: none;
  padding: 10px;
  border-radius: 3px;
  width: 100%;
}

.addNote textarea {
  font-family: "Roboto";
  margin: 10px 0;
  padding: 10px;
  border: none;
  resize: none;
  border-radius: 3px;
  width: 100%;
}

button {
  display: flex;
  margin-top: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  border: none;
  border-radius: 3px;
  background-color: #f5ba13;
  color: white;
  cursor: pointer;
}

.newNote {
  display: flex;
  justify-content: center;
  align-items: center;
}

.notesContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin-bottom: 80px;
}

.note {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.note-title {
  font-size: 24px;
  margin-bottom: 6px;
  font-weight: 900;
}

.note-content {
  font-size: 18px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: 100;
}

.note-warning {
  position: fixed;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ffdddd;
  color: #d8000c;
  border: 1px solid #d8000c;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 997;
}

.d-none {
  display: none;
}

.bincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin-bottom: 80px;
}

.bin-note {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  padding: 10px;
  width: 240px;
  margin: 16px;
}

.bin-title {
  color: black;
  font-size: 24px;
  margin-bottom: 6px;
  font-weight: 900;
}

.bin-content {
  color: black;
  font-size: 18px;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-weight: 100;
}

.footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
  background-color: #f5ba13;
  width: 100%;
  position: fixed;
  bottom: 0;
  margin: auto -16px;
  padding: 16px 32px;
}

.footer a {
  color: black;
  text-decoration: none;
}

#papierkorb,
#cancel {
  cursor: pointer;
  width: 35px;
}

.impressum {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Roboto";
  font-size: 20px;
  margin-top: 30px;
}

.datenschutz {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  font-family: "Roboto";
  font-size: 20px;
  margin: 70px;
}

@media (max-width: 180px) {
  .header h1 {
    font-size: 18px !important;
  }
}

@media (max-width: 400px) {
  .header h1 {
    font-size: 28px;
  }

  .note-title {
    font-size: 20px;
  }

  .note-content {
    font-size: 14px;
  }

  .bin-title {
    font-size: 20px;
  }

  .bin-content {
    font-size: 14px;
  }

  .bincontainer {
    margin-left: 8px;
    margin-right: 8px;
  }

  .delNotesContainer {
    padding: 0;
  }

  .footer a {
    font-size: 12px;
  }

  .header {
    flex-direction: column;
  }

  .footer {
    flex-direction: column;
    padding: 0;
    font-size: 12px;
  }
}

@media (max-width: 700px) {
  .datenschutz {
    margin: 25px;
    font-size: 16px;
  }
}
